@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #beb6cf;
  --secondary: #8967d4;
  --accent: #e7deff;
  /* --primary: #ffffff; */
  /* --secondary: #6ca0e1; */
  --text: #58389d;
  --background: #374151;
}

/* h1 {
	font-family: 'Major Mono Display', serif;
} */

* {
  font-family: 'Major Mono Display', sans-serif;
}